html {
  background: yellow;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  width: 100%;
  max-width: 1200px;
}

header {
  background: white;
  padding: 30px;

  & nav {
    display: flex;
    justify-content: center;

    & ul {
      background: #e8e5e480;
      width: fit-content;
      display: flex;
      padding: 4px;
      border-radius: 30px;

      & li {
        list-style: none;
        border-radius: inherit;
        margin-inline: 3px;

        & a {
          display: block;
          padding: 4px 20px;
          border-radius: inherit;
          color: black;

          &[href="./index.html"] {
            background: white;
          }

          &:active {
            background: white;
          }

          &:hover {
            background: black;
            color: white;
          }
        }
      }
    }
  }
}

main {
  background: mintcream;
  flex-grow: 1;
}

footer {
  background: lavender;
  display: flex;
  justify-content: space-between;

  & #copyright-info {
    display: inline-flex;
    gap: 0.5vw;
    align-items: center;
  }

  & #company-logo {
    align-self: stretch;
    text-align: center;
    height: 28px;
  }

  & nav {
    & ul {
      display: flex;
      gap: 1vw;
      flex-grow: 1;

      & li {
        list-style: none;
      }
    }
  }
}

/* general selectors */
a {
  text-decoration: none;
}

/* general classes */
.container {
  width: 100%;
}
