html {
  background: yellow;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  max-width: 1600px;
  outline: 1px solid green;
}

header {
  background: salmon;

  & nav {
    background: green;
    width: 30%;
    margin: auto;

    & ul {
      background: #7f7f7f;
      border-radius: 25%;
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 2vw;

      & li {
        list-style: none;
        background: #ffffff;
        border-radius: 25%;
      }
    }
  }
}

main {
  background: mintcream;
  flex-grow: 1;
}

footer {
  background: lavender;
  display: flex;
  justify-content: space-between;

  & #copyright-info {
    display: inline-flex;
    gap: 0.5vw;
    align-items: center;
  }

  & #company-logo {
    align-self: stretch;
    text-align: center;
    height: 28px;
    /* Zu diskutieren  */
  }

  & nav {
    & ul {
      display: flex;
      gap: 1vw;
      flex-grow: 1;

      & li {
        list-style: none;
      }
    }
  }
}

/* general selectors */
a {
  text-decoration: none;
}

/* general classes */
.container {
  width: 100%;
}
